.sidebar {
    height: calc(100% - 15px);
}

.sidebar .wrapper {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: inherit;
}.sidebar .wrapper h2{
    color: white;
    text-align: center;
    margin: 7.5px 0;
}.sidebar .wrapper summary{
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: inherit;
    user-select: none;
}#GliderDropDown, #ViewsDropDown{
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;

    border-bottom: #ffffff67 10px solid;

    background-color: inherit;
}.GliderList{
    user-select: none;
    list-style-type: none;
    padding-top: 3px;
    padding-left: 20px;
    padding-bottom: 5px;
    border-left:rgba(172, 172, 172, 0.514) 2px dotted;
    margin-top: 10px;
    border-radius: 0px 5px 5px 0px;
}.GliderList li{
    padding: 3px;
    cursor: pointer;
    margin: 4px 0;
    border-bottom: #e7e7e7 1px solid;
    color: rgb(255, 255, 255);
    border-radius: 0px 0px 0px 0px;
    
    transition: all .2s ease-in;
}.GliderList li:hover{
    background-color: #ffffff96;
    border-radius: 0px 10px 10px 0px;
    color: #000000;
    font-weight: bolder;
    transition: all 0.1s ease-in;
    padding-left: 10px;
}

.temp {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: auto;

    display: none;
}